.haircutPage {
  min-height: 100vh;
  font-family: "Inria Serif", serif;
}

.haircutHero {
  min-height: 650px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('./assets/salon/luxerySalon.jpg');

  background-size: cover;
  background-position: center;

  text-align: center;
  color: white;

  padding: 100px 20px;
}

.haircutHero h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

.haircutHero p {
  font-size: 22px;
  margin-bottom: 40px;
}

.haircutCardContainer {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}